@{
    ViewBag.Title = "Finish";
}
<div class="container">
    <div class="content-indent">
        <div id="vmMainPage">
            <h3>Hoàn tất đơn hàng</h3>
            <div style="">
                Đơn hàng đã được đặt thành công!
            </div>
        </div>
    </div>
</div>

