@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(-WzdRTzRa5k6HlJK6-dK9Q.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/oswald/v7/-WzdRTzRa5k6HlJK6-dK9Q.eot*/;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(-WzdRTzRa5k6HlJK6-dK9Q.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/oswald/v7/-WzdRTzRa5k6HlJK6-dK9Q.eot*/ format('embedded-opentype'), url(-g5pDUSRgvxvOl5u-a_WHw.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff*/ format('woff');
}
