@{
    ViewBag.Title = "Index";
}
<div id="content">
	<div class="wrapper">
		<div id="left">
			<div class="wrapper">
				<div class="extra-indent">
					<div class="module_best">
						<h3><span><span>Specials</span></span></h3>
						<div class="boxIndent">
							<div class="anythingSlider2">
								<div class="wrapper">
									<ul>
										<li>
										<div class="ProductBox item_01 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=2&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=2&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=2&amp;option=com_virtuemart&amp;Itemid=29" title="Mobile phones "><img src="show_image_in_imgtag.php-filename=resized-Product02_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct02_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="ipsum dolor" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=2&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=2&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=2&amp;option=com_virtuemart&amp;Itemid=29" title="ipsum dolor">ipsum dolor</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 208
													</div>
													<div class="oldPrice">
														 $ 215
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=2&product_id=2&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=2&product_id=2&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=2&amp;product_id=2&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="2">
														<input type="hidden" name="product_id" value="2">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
										<li>
										<div class="ProductBox item_02 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=3&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=3&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=3&amp;option=com_virtuemart&amp;Itemid=29" title="Mobile phones "><img src="show_image_in_imgtag.php-filename=resized-Product03_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct03_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="dolor" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=3&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=3&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=3&amp;option=com_virtuemart&amp;Itemid=29" title="dolor">dolor</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 148
													</div>
													<div class="oldPrice">
														 $ 155
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=3&product_id=3&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=3&product_id=3&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=3&amp;product_id=3&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="3">
														<input type="hidden" name="product_id" value="3">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
										<li>
										<div class="ProductBox item_03 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=5&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=5&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=5&amp;option=com_virtuemart&amp;Itemid=29" title="Communicators "><img src="show_image_in_imgtag.php-filename=resized-Product05_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct05_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="set dolor" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=5&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=5&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=5&amp;option=com_virtuemart&amp;Itemid=29" title="set dolor">set dolor</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 143
													</div>
													<div class="oldPrice">
														 $ 150
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=5&product_id=5&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=5&product_id=5&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=5&amp;product_id=5&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="5">
														<input type="hidden" name="product_id" value="5">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
										<li>
										<div class="ProductBox item_04 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=6&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=6&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=6&amp;option=com_virtuemart&amp;Itemid=29" title="Communicators "><img src="show_image_in_imgtag.php-filename=resized-Product06_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct06_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem ipsum dolor" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=6&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=3&flypage=flypage.tpl&product_id=6&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=3&amp;flypage=flypage.tpl&amp;product_id=6&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem ipsum dolor">Lorem ipsum dolor</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 193
													</div>
													<div class="oldPrice">
														 $ 200
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=6&product_id=6&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=6&product_id=6&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=6&amp;product_id=6&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="6">
														<input type="hidden" name="product_id" value="6">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
										<li>
										<div class="ProductBox item_05 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=1&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=1&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=1&amp;option=com_virtuemart&amp;Itemid=29" title="Mobile phones "><img src="show_image_in_imgtag.php-filename=resized-Product01_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct01_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem ipsum dolor" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=1&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=1&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=1&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem ipsum dolor">Lorem ipsum dolor</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 198
													</div>
													<div class="oldPrice">
														 $ 205
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=1&product_id=1&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=1&product_id=1&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=1&amp;product_id=1&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="1">
														<input type="hidden" name="product_id" value="1">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
										<li>
										<div class="ProductBox item_06 last special">
											<div class="lastProductImage">
												<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=4&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=4&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=4&amp;option=com_virtuemart&amp;Itemid=29" title="Mobile phones "><img src="show_image_in_imgtag.php-filename=resized-Product04_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct04_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem ipsum" height="178"></a>
											</div>
											<div class="fleft">
												<div class="lastProductName">
													<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=4&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=4&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=1&amp;flypage=flypage.tpl&amp;product_id=4&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem ipsum">Lorem ipsum</a>
												</div>
												<div class="wrapper">
													<div class="productPrice">
														 $ 153
													</div>
													<div class="oldPrice">
														 $ 160
													</div>
												</div>
												<div class="lastProductDetail">
													<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=4&product_id=4&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=4&product_id=4&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=4&amp;product_id=4&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
														<input type="hidden" name="option" value="com_virtuemart">
														<input type="hidden" name="page" value="shop.cart">
														<input type="hidden" name="Itemid" value="29">
														<input type="hidden" name="func" value="cartAdd">
														<input type="hidden" name="prod_id" value="4">
														<input type="hidden" name="product_id" value="4">
														<input type="hidden" name="quantity" value="1">
														<input type="hidden" name="set_price[]" value="">
														<input type="hidden" name="adjust_price[]" value="">
														<input type="hidden" name="master_product[]" value="">
														<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
													</form>
												</div>
											</div>
										</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- END AnythingSlider -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="module_new">
				<h3><span><span>New Products</span></span></h3>
				<div class="boxIndent">
					<div class="anythingSlider2">
						<div class="wrapper">
							<ul>
								<li>
								<div class="ProductBox item_01 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=80&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=80&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=80&amp;option=com_virtuemart&amp;Itemid=29" title="In voluptate velit "><img src="show_image_in_imgtag.php-filename=resized-Product80_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct80_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem ipsum dolor " height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=80&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=80&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=80&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem ipsum dolor ">Lorem ipsum dolor </a>
										</div>
										<div class="lastProductDesc">
											 Mint green Juno was inspired by the beautiful chinoisery designs.
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 113.22
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=80&product_id=80&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=80&product_id=80&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=80&amp;product_id=80&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="80">
												<input type="hidden" name="product_id" value="80">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_02 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=79&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=79&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=79&amp;option=com_virtuemart&amp;Itemid=29" title="In voluptate velit "><img src="show_image_in_imgtag.php-filename=resized-Product79_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct79_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="ipsum dolor" height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=79&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=79&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=79&amp;option=com_virtuemart&amp;Itemid=29" title="ipsum dolor">ipsum dolor</a>
										</div>
										<div class="lastProductDesc">
											 Suspendisse neque augue, viverra at ultricies non
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 338.23
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=79&product_id=79&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=79&product_id=79&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=79&amp;product_id=79&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="79">
												<input type="hidden" name="product_id" value="79">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_03 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=78&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=78&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=78&amp;option=com_virtuemart&amp;Itemid=29" title="In voluptate velit "><img src="show_image_in_imgtag.php-filename=resized-Product78_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct78_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem SET " height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=78&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=78&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=78&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem SET ">Lorem SET </a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 333.45
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=78&product_id=78&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=78&product_id=78&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=78&amp;product_id=78&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="78">
												<input type="hidden" name="product_id" value="78">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_04 last">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=77&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=77&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=77&amp;option=com_virtuemart&amp;Itemid=29" title="In voluptate velit "><img src="show_image_in_imgtag.php-filename=resized-Product77_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct77_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="incididunt ut " height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=77&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=22&flypage=flypage.tpl&product_id=77&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=22&amp;flypage=flypage.tpl&amp;product_id=77&amp;option=com_virtuemart&amp;Itemid=29" title="incididunt ut ">incididunt ut </a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 328.35
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=77&product_id=77&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=77&product_id=77&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=77&amp;product_id=77&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="77">
												<input type="hidden" name="product_id" value="77">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								</li>
								<li>
								<div class="ProductBox item_05 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=76&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=76&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=76&amp;option=com_virtuemart&amp;Itemid=29" title="Duis aute irure dolor "><img src="show_image_in_imgtag.php-filename=resized-Product76_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct76_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="magna aliqua" height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=76&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=76&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=76&amp;option=com_virtuemart&amp;Itemid=29" title="magna aliqua">magna aliqua</a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 318.67
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=76&product_id=76&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=76&product_id=76&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=76&amp;product_id=76&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="76">
												<input type="hidden" name="product_id" value="76">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_06 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=75&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=75&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=75&amp;option=com_virtuemart&amp;Itemid=29" title="Duis aute irure dolor "><img src="show_image_in_imgtag.php-filename=resized-Product75_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct75_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="enim ad minim " height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=75&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=75&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=75&amp;option=com_virtuemart&amp;Itemid=29" title="enim ad minim ">enim ad minim </a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 313.34
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=75&product_id=75&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=75&product_id=75&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=75&amp;product_id=75&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="75">
												<input type="hidden" name="product_id" value="75">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_07 ">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=74&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=74&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=74&amp;option=com_virtuemart&amp;Itemid=29" title="Duis aute irure dolor "><img src="show_image_in_imgtag.php-filename=resized-Product74_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct74_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="veniam," height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=74&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=74&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=74&amp;option=com_virtuemart&amp;Itemid=29" title="veniam,">veniam,</a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 303
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=74&product_id=74&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=74&product_id=74&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=74&amp;product_id=74&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="74">
												<input type="hidden" name="product_id" value="74">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								<div class="ProductBox item_08 last">
									<div class="lastProductImage">
										<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=73&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=73&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=73&amp;option=com_virtuemart&amp;Itemid=29" title="Duis aute irure dolor "><img src="show_image_in_imgtag.php-filename=resized-Product73_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2FProduct73_resized.png&amp;newxsize=128&amp;newysize=178&amp;fileout=" alt="Lorem ipsum dolor" height="178"></a>
									</div>
									<div class="fleft">
										<div class="lastProductName">
											<a href="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=73&option=com_virtuemart&Itemid=29 \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&category_id=21&flypage=flypage.tpl&product_id=73&option=com_virtuemart&Itemid=29%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?page=shop.product_details&amp;category_id=21&amp;flypage=flypage.tpl&amp;product_id=73&amp;option=com_virtuemart&amp;Itemid=29" title="Lorem ipsum dolor">Lorem ipsum dolor</a>
										</div>
										<div class="lastProductDesc">
											 Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</div>
										<div class="wrapper">
											<div class="productPrice">
												 $ 303
											</div>
										</div>
										<div class="lastProductDetail">
											<form action="javascript:if(confirm(%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=73&product_id=73&quantity=1&set_price[]=&adjust_price[]=&master_product[]= \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters. (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.) \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&page=shop.cart&Itemid=29&func=cartAdd&prod_id=73&product_id=73&quantity=1&set_price[]=&adjust_price[]=&master_product[]=%27" tppabs="http://livedemo00.template-help.com/virtuemart_37317/index.php?option=com_virtuemart&amp;page=shop.cart&amp;Itemid=29&amp;func=cartAdd&amp;prod_id=73&amp;product_id=73&amp;quantity=1&amp;set_price[]=&amp;adjust_price[]=&amp;master_product[]=" method="post" name="addtocart" id="addtocart">
												<input type="hidden" name="option" value="com_virtuemart">
												<input type="hidden" name="page" value="shop.cart">
												<input type="hidden" name="Itemid" value="29">
												<input type="hidden" name="func" value="cartAdd">
												<input type="hidden" name="prod_id" value="73">
												<input type="hidden" name="product_id" value="73">
												<input type="hidden" name="quantity" value="1">
												<input type="hidden" name="set_price[]" value="">
												<input type="hidden" name="adjust_price[]" value="">
												<input type="hidden" name="master_product[]" value="">
												<input type="submit" class="add_to_cart_button" value="Add to cart" title="Add to cart">
											</form>
										</div>
									</div>
								</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- END AnythingSlider -->
				</div>
			</div>
		</div>
	</div>
</div>